page-continuar-registro {

  .message{
    left: auto;
    right: auto;
    padding-top: 50%;

  }
  .background{
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
  }
  .message p{
    font-size: 1.5rem;
    line-height: 1.5em;
    color: gray;
  }
  .list-background{
    background-color: #f1f1f1;
  }
  .list{
    background-color: white;
  }

}
